body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif
}


.grey {
  background-color: #eee;
}

.grey2 {
  background-color: #ddd;
}

.icons {
  height: 38px;
}

header {
  width: 100%;
  height: 100px;
}

footer {
  width: 100%;
  height: 400px;
}

.logo {
  background-color: rgba(240,50,38);
  width: 150px;
  height: 113px;
  position: absolute;
  left: 20px;
  border-radius: 0 0 4px 4px;
}

.promo {
  width: 100%;
  height: 500px;
}

section {
  width: 1140px;
  min-height: 300px;
  margin: 40px auto;
}

ul {
  padding-left: 0;
  color: #1d3448;
}

ul.tres li {
  cursor: pointer;
  background-color: #f5f7f9;
  vertical-align: top;
  box-sizing: border-box;
  list-style-type: none;
  display: inline-block;
  width: 360px;
  min-height: 300px;
  margin: 0 12px;
  border-radius: 4px;
  padding: 30px;
}

ul.tres li h2 {
  font-size: 24px;
  line-height: 24px;
  margin: 25px 0;
}

ul.tres li>p:nth-child(odd) {
   font-weight: 700;
    margin: 0;
    font-size: 40px;
    line-height: 48px;
}

ul.tres li>p:nth-child(even) {
    margin-top: 0;
    font-size: 16px;
    color: #1d3448;

}

ul.tres li:first-child {
  margin-left: 0;
}

ul.tres li:last-child {
  margin-right: 0;
}

button {
    width: 100%;
    height: 46px;
    background-color: rgba(240,50,38,.85);
    border: none;
    outline: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #eee;
}

button:hover{
  background-color: rgba(240,50,38);
  cursor: pointer;
}


ul.duos li {
  display: inline-block;
  width: 360px;
  /* background-color: #eee; */
  min-height: 300px;
  margin: 0 12px;
  border-radius: 4px;
}

ul.duos li:first-child {
  margin-left: 0;
}

ul.duos li:last-child {
  width: 750px;
  margin-right: 0;
}


