body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: url(https://lteplova.github.io/netology_lessons/assets/img/header-backgroudn.jpg) no-repeat;
    width: 100%;
    height: 100vh;

   }

.cent {

    margin: 0 auto;
    max-width: 1168px;
    border-bottom: solid #4F5168;
    text-transform: uppercase;
}

.cent:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    margin: auto 0;
    color: #66697E;
    font: bold 3em verdana, sans-serif;
    float: left;
    line-height: 100px;
    text-align: left;
}

span {
    font-weight: 300;
    color: #FFFFFF;
}

ul.menu {
  line-height: 60px;
    float: right;
    text-align: right;
    
}

ul.menu li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    width: 150px;
    margin-right: -5px;
   
}

ul.menu a {
    color: #fff;
    text-decoration: none;
}

.promo {
  margin: 0 auto;
  max-width: 1168px;
}
.promo div {

  position: absolute;
  width: 1168px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

}



.promo h1 {
  color: #FFF;
  text-transform: uppercase;
  font: bold 4em verdana, sans-serif;
  margin: 0 auto;
  max-width: 1168px;
  text-align: center;
  }
.promo p {
  color: #FFF;
  font: 2em Montserrat, sans-serif;
  margin: 40px auto;
  max-width: 1168px;
  text-align: center;
  }

  .promo div button {
  width: 200px;
  height: 50px;
  background-color: #FF0000;
  border: none;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #FFF;

}

.mcent {
  margin: 50px auto;
    max-width: 1168px;
    padding: 0;
    /*border: solid green;*/

}

.mcent div {
  text-align: center;
  padding: 1.5%;
  box-sizing: box;
  /*border: solid red;*/
  display: inline-block;
  width: 30%;
  height: 300px;
  margin-right: -5px;

}

.mcent div h2 {
  text-transform: uppercase;
  font: verdana, sans-serif;
}

.mcent div p {
  color: #808080;
  font: Montserrat, sans-serif;
}

.image img {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 25%;
  font-size: 0;
  margin-right: -4px;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

/* .image img:hover {
  opacity: 0.7;
}
 */
.foot1 {
  margin-top: 0px;
  height: 210px;
  background: #3A3E64;
/*   margin-right: -5px; */
  text-align: center;
  }

.foot1 > div {
  display: inline-block;
  padding: 40px 0;
  width: 20%;
  color: #FFF;
  line-height: 20px;
  vertical-align: top;
}

.foot1 h3 {
  text-transform: uppercase;
}

.foot1 p {
  color: #808080;
  font: Montserrat, sans-serif;
}

.iconss {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 2px #FFF;


}

.foot2 {
  height: 100px;
  padding: 10px 0;
  background: #313454;
  text-align: center;
  color: #808080; 
}

.foot2 span:nth-child(1) {
  color: red;
}
.foot2 span:nth-child(2) {
  color: #fff;
}
